*{
    font-family: "Gothic A1", sans-serif; font-style:noraml;
}
.btn-black{
    background: black; color:white;
}

.navbar {
    margin-top:20px;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-size: 15px !important;
    letter-spacing: 4px;
}
.navbar-fixed-top{
    position: absolute;
}
.navbar-header{
    width: 100%; height: 1px;
    display: flex; justify-content: center;
}
.navbar .navbar-brand{
    width:100px; padding-top:10px; 
} 

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff ; 
    background-color: transparent !important;
}
.navbar .dropdown-menu{
    min-width:50px; height: 150px;
    border-radius: 0; padding:0;
}
.dropdown-menu li a {
    color: #8B9297 !important; height: 50px;
    font-size: 15px; padding-top:14px;
}
.dropdown-menu li a:hover {
    color: white !important; background-color: black; 
}
#menu-mob, #search-mob{
    display:none;
}

/* carousel */

#myCarousel .carousel-inner .item img:nth-child(1) {display: block;}
#myCarousel .carousel-inner .item img:nth-child(2) {display: none;}


.carousel-caption{
    position:absolute; left:80px; bottom:15%;
    text-align: left;
    font-size: 20px;
}
.carousel-caption h3{
    font-size: 40px; font-weight: 600;
}


/* bestKia */
#bestKia h3{
    font-size: 50px; font-weight: 700;
    margin-top: 150px;
    margin-bottom: 50px;
}
#bestKia h4{
    font-weight: 700; text-align:center;
}
#bestKia .box{
    border:1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}
#bestKia .nav-tabs{
    margin-bottom: 40px;
    display:flex; justify-content:center;
}
#bestKia .nav-tabs li{
    margin:0 15px 0;
}
#bestKia .nav-tabs a{
    font-size: 18px; font-weight:700; color:black;
}
#bestKia .nav-tabs li.active a{
    border-radius: 0;
    border:none;
    border-bottom:1px solid black;
}
#bestKia .box .col-sm-8, #bestKia .box .price{
    text-align: right;
}
#bestKia .box .btn{
    border-radius: 0;
}
.btn-black:hover{
    background: rgb(130,130,130); color:#ddd;
}
#bestKia .btn-box{
    text-align: center;
}
#bestKia .sort{
    text-align: center;
    padding:30px;
    margin-bottom:30px;
}
#bestKia .box > div{
    padding:5px;
}
#bestKia .box img{
    width:100%; height: 180px;
    margin-bottom:20px;
    margin-top:50px;
    object-fit: contain;
}
#bestKia .box > div:nth-of-type(1){
    text-align: center; height:20px;
}
#bestKia .box .col-sm-4{
    font-weight:700; font-size:13px;
}
#bestKia .box .col-sm-8{
    font-size:13px;
}
#bestKia .box .price{
    font-size: 20px; font-weight: 600;
    margin-bottom: 20px;
}
#bestKia .btn{
    width:140px;
}
#menu3 .col-sm-8 .btn{
    width:20px; height:20px; padding:0; border:none; position: relative; bottom:7px;
}
#menu3 .col-sm-8 img{
    width:100%; height: 100%; position: relative; bottom:45px;
}
#bestKia .col-sm-8 .modal-header{
    text-align: center; margin-top: 20px; border:none;
}
#bestKia .col-sm-8 .modal-body li{
    text-align: left;  margin:30px; margin-top:10px;
}

/* Etc */
#etc{
    margin-bottom: 60px;
}
#etc .box{
    background: #eee; height:200px;
    padding:15px; transition: 0.5s;
}
#etc .box img{
    width:25px;
}
#etc .box h3{
    font-size:17px; font-weight: bold;
}
#etc .box div{
    width:100px;
    position:absolute;
    bottom:10px; right:20px;
    text-align: right;
}
#etc .box img:nth-child(1){
    display:inline;
}
#etc .box img:nth-child(2){
    display:none;
}
#etc .box:hover img:nth-child(1){
    display:none;
}
#etc .box:hover img:nth-child(2){
    display:inline;
}
#etc .box .bef{
    display:inline;
}
#etc .box:hover .bef{
    display:none;
}
#etc .box .aft{
    display:none;
}
#etc .box:hover .aft{
    display:inline;
}

#etc .box:hover{
    background: #13212B; color:white;
}

/* news */
#news h3{
    font-size: 50px; font-weight: 700;
    padding-top:30px;
    padding-bottom:40px;
} 

#news .col-sm-6 img:nth-child(1){display:block;}
#news .col-sm-6 img:nth-child(2){display:none;}
#news .col-sm-6{
    float:right; height: 450px; padding:0; 
}
#news .col-sm-6:nth-child(2){
    background: #697278; color:white;
    padding:50px;
}
#news h5{
    font-size: 18px; font-weight: 600; margin-bottom: 20px;
}
#news h4{
    font-size: 22px; font-weight: 600; margin-bottom: 20px;
}
#news p{
    font-size: 15px; line-height: 25px; padding-right: 25px;
}
#news .col-sm-6 .btn{
    position:absolute; bottom:50px;
    border-radius: 0;
    font-weight: 700; 
}
#news1{
    margin-bottom: 40px;
}

#news .col-sm-4{
    padding:20px 20px 150px;
}
#news .col-sm-4 h4{
    font-size: 17px; color: #697278;
}
#news .col-sm-4 p{
    font-weight: 600; font-size: 19px;
}

/* footer */
#footer1{
    background: #05141f; color:white; padding: 0 50px 15px;
}
#footer2{
    background: #010E18; color:#697279; padding-left:50px !important;
}
#footer1 .col-sm-12 img{
    margin: 30px 0 20px;
}
#footer1 ul, #footer2 ul{
    list-style: none; padding:0;
}
#footer1 .col-sm-3:nth-child(1){
    font-size:17px; line-height: 34px; font-weight: 500;
}
#footer1 .col-sm-3:nth-child(1) li:last-child{
    margin-top:20px;
}
#footer1 .col-sm-3:nth-child(2){
    color:#697279; font-size: 14px; line-height: 28px;
    padding-left: 100px;
}
#footer1 .col-sm-6 li{
    display:inline;
}
#footer1 .col-sm-6 li a{
    display:inline-block;
    padding:10px;
}
#footer1 .col-sm-6 > div >div{
    display: inline-block; padding-left: 20px;
}
#footer1 .col-sm-6 .btn{
    width:250px; background: #010E18; color:white;
}

#footer1 .col-sm-6 ul{
    position: absolute; right:0;
}
#footer1 .col-sm-6 > div{
    position: absolute; right:0; top:160px;
}
#footer1 .col-sm-6 .dropdown-menu {
    position: absolute;
    background: #010E18;
    min-width: 160px;
    height:220px;
    overflow: auto;
    border: 0.5px solid gray;
  }
  
#footer1 .col-sm-6 .dropdown-menu a{
    color: white !important;
    padding: 12px 16px;
    display: block;
  }


#footer2 .col-sm-3, #footer2 .col-sm-9{
    float:right; text-align: center;
}
#footer2 .col-sm-3{
    text-align:left;
}
#footer2 .col-sm-9 li{
    display:inline;
}
#footer2 .col-sm-9 li a{
    display:inline-block; padding:10px;
    color:#697279;
}
#footer2 .col-sm-3 div{
    padding-top:10px;
}
#collapse{
    display: none;
}
#footer2 {
    padding-left:30px;
}
#footer2 .award{
    padding:0; width:300px; display: inline-block;
}
#footer2 .award img, #footer2 .award ul{
    padding:0; display:inline-block;
}
#footer2 .award img{
    width:8%; position: relative; bottom:37px;
}
#footer2 .award ul{
    width:88%; margin-left:1%;
}

@media screen and (max-width:767px){
    .navbar #myNavbarR{ display: none;}
    .navbar-header{
        width: 100%; height: 20px;
        display: inline; color:white;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: rgb(255 255 255);
    }
    .navbar .nav a{
        background-color: rgba(255, 255, 255, 0.1) !important; color: black !important;
    }
    #myNavbar{
        border:none;
    }
    #search-mob, #menu-mob{
        display:block;
        position: absolute;
    }
    #search-mob{
        top:35px; right:95px;
    }
    #menu-mob{
        top:35px; right:125px; width:70px; text-align: center;
    }

    #myCarousel .carousel-inner .item img:nth-child(1) {display: none;}
    #myCarousel .carousel-inner .item img:nth-child(2) {display: block;}
    .carousel-caption{
        position:absolute; left:30px; bottom:250px;
    }

    #bestKia .box{
        margin-bottom: 50px; 
    }
    #bestKia .sort{
        padding-top:0; padding-bottom: 70px;
    }

    #news .col-sm-6 img:nth-child(1) {display: none;}
    #news .col-sm-6 img:nth-child(2) {display:block;}
    #news1 .col-sm-6 {width:100%;}
    #news1 .col-sm-6 p {display:none;} 
    #news .col-sm-6:nth-child(1) {height: 350px; width: 100%;}
    #news .col-sm-6:nth-child(2) {height: 250px;}
    #news .col-sm-4 {padding:0px 30px 20px;}
    #news2 {margin-bottom: 50px;}

    #footer1 .col-sm-12 img{
        margin-top:30px; margin-bottom: 30px; width:70px;
    }
    #footer1 .col-sm-3:nth-child(1){
        font-size:14px; line-height: 39px; font-weight: 500;
    }
    #footer1 .col-sm-3:nth-child(2) {display:none;}
    #footer1 .col-sm-6 {display:none;}
    #collapse {display:block;}
    #collapse .collapsible {
        background: #010E18; color:white;
        cursor: pointer;
        padding: 18px 30px 18px 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    #collapse .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
    
    }
    #collapse .active:after {
        content: "\2212";
    }
    #collapse .content {
        padding: 0 18px;
        height: 154px;
        max-height:0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        overflow: auto;
    }
    #collapse a{
        color: #69728D; font-size: 16px;
        display:block; margin:5px;
    }
    #footer2 .col-sm-3{width:100%; margin-bottom: 20px; text-align: center;}
    #footer2 .award{display: none;}
}
